# .gitignore
Data-Enginerring-ZoomCamp/Week_1/2_docker_sql/ny_taxi_postgres_data/
Data-Enginerring-ZoomCamp/Week_1/2_docker_sql/output.csv
Data-Enginerring-ZoomCamp/Week_1/2_docker_sql/yellow_tripdata_2021-01.csv 